.regreso{
   
   justify-content: center;
   font-size: 18px;
   margin-top: 5%;
   background-color: rgb(245, 51, 219);

}


.detail{
    font-size: 15px;
    font-family: 'DynaPuff', cursive;
}

.detail ::first-letter{
    background-color: rgb(135, 235, 218);
}