<<<<<<< HEAD
.container {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 270px;
  border-radius: 20px;
  background-color: aliceblue;
  transition: all 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.6);
=======
.containerCard{
    display: inline-flex;
    flex-direction:column;
    border-color: rgb(163, 170, 168);
    border-style:outset;
    border-radius: 10%;
    margin: 120px 10px 0px 10px;    
    width: 250px;
  height: 380px;
  background-color: rgb(231, 224, 214);
}
/* @keyframes flotar {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  } */
  
  .containerCard {
    animation: flotar 2s ease-in-out infinite;
  }

.containerCard:hover{
   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
   
    
>>>>>>> 08d158118ff4b319bbad4ebe463872884b72c213
}

.container:hover {
  transform: scale(1.1);
}

.buttonContainer {
  display: flex;
  justify-content: space-between
}

.button {
  border-radius: 20px;
  margin: 10px 10px 0 0;
  border: none;
  background-color: red;
  color: aliceblue;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

img {
  width: 200px;
  border-radius: 10px 10px 0 0;
}
.imageContainer {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 10px;
  align-items: center;
}
.name {
  background-color: rgba(0, 255, 255, 0.6);
  position: absolute;
  margin-bottom: 0px;
}
.propsContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  margin: 0px;
  color: aqua;
  border-radius: 0 0 20px 20px;
}

.propsContainer h2 {
    margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}