   .containerSearch{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 .containerSearch.transparencia {
    opacity: 0.8;
  }   

.input{
    
    width: 70%;
    height: 25px;
    margin: 22px 5px 10px 420px;
    border: 5% rgb(202, 188, 188);
    border-style: outset;
    border-radius: 5%;
    
}

.button{
    font-size: 15px;
    border-style:outset;
    border-color: bisque;
    margin: 16px 5px 18px 5px;
    border-radius: 5px;
}
.button:hover{
    background-color: rgb(71, 238, 38);
}
.aleatorio{
    font-size: 15px;
    border-style:outset;
    border-color: bisque;
    margin: 16px 5px 18px 5px;
    border-radius: 5px;
}
.aleatorio:hover{
    background-color: rgb(223, 118, 223);
}
.buttonSalir{
    margin:16px 5px 18px 5px;
    border-style:double;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: 5px 2px rgb(134, 123, 123);

}
.buttonSalir:hover{
    background-color: rgb(55, 103, 236);
}