body {
  margin: 0;
  background-image: url(https://images3.alphacoders.com/812/thumb-1920-812062.png);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
